@keyframes slideRightToLeft {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

.toast-slide {
    animation: slideRightToLeft 0.5s ease;
}

@keyframes slideLeftToRight {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}

.toast-slide-hide {
    animation: slideLeftToRight 0.5s ease;
}
