
.logo-font {
    font-size: 21px;
    color: #5b5fc7;
}

    .logo-font:hover {
        color: #232796;
    }


.home {
    width: 100px;
    margin-right: 10px;
}
.home-buttons {
    position: absolute;
    margin-left: 80.8em;
}
